.eventMain {
  height: 100dvh;
  width: 100dvw;
  background: url("/images/det-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.eventMask {
  height: 100dvh;
  width: 100dvw;
  background: #0811254b;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.3em;
    height: 10px;
  }

  .eventCard {
    height: 85%;
    width: 85%;
    background-color: #1b1b1b49;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    margin-top: 10%;
    margin-bottom: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    .containerLeft {
      width: 50%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 2.5rem;
        color: #fff;
        font-family: "aquatico";
        padding: 10px 20px;
        background-color: #ffffff14;
        border-radius: 1rem;
        backdrop-filter: blur(2px);
        width: fit-content;
      }

      h3 {
        color: white;
        font-family: "aquatico";
      }

      .pContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: white;
          background-color: #00000077;
          border-radius: 1rem;
          backdrop-filter: blur(2px);
          padding: 10px 20px;
          width: 95%;
          font-family: "anuphan";
        }
      }

      .buttonContainer {
        width: 100%;
        height: 100px;
        // background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;

        .regButton {
          padding-inline: 50px;
          background-color: rgba(0, 168, 137, 0.311);
          border: none;
          color: white;
          transition: 0.2s ease-in-out;
          &:hover {
            background-color: rgba(0, 168, 137, 0.747);
            transform: scale(1.05);
            color: white;
            box-shadow: 0 0 15px #03f4ac96, 0 0 15px #03f4ac96,
              0 0 15px #03f4ac96, 0 0 15px #03f4ac96;
          }
        }
      }
    }

    .containerRight {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .guidContainer {
      height: 95%;
      width: 95%;
      overflow: hidden;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}

.cordContainer {
  background-color: #00000077;
  width: 95%;
  border-radius: 1rem;
  padding: 10px;

  color: white;

  a {
    text-decoration: none;
    color: white;
  }
}
