.eventMain {
  height: 100dvh;
  width: 100dvw;
  background-color: #f5f5f5;
  background: url("/images/event-bg.jpg");
  background-size: cover;
  background-attachment: fixed;

  &::-webkit-scrollbar {
    width: 0.3em;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgb(14, 14, 55);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 152);
    outline: none;
    border-radius: 1rem;
    height: 10px;
  }
}

.mainMask {
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;

  h1 {
    font-family: "ananda";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    text-decoration: underline;
    margin-top: 5%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.cardContainerTech {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 2%;
  background-color: yellow;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 2%;

  .cardColumn {
    display: flex;
    justify-content: center;
    align-items: center;

    .Card {
      margin-top: 11px;
      margin-bottom: 11px;
      background-color: rgba(0, 0, 0, 0.45);
      backdrop-filter: blur(6px);
      color: rgb(251, 251, 251);
      transition: 0.2s ease-in-out;

      img {
        filter: brightness(78%);
      }
    }

    .Card:hover {
      -webkit-box-shadow: 0px 0px 14px 0px rgba(214, 214, 214, 0.5);
      -moz-box-shadow: 0px 0px 14px 0px rgba(214, 214, 214, 0.5);
      box-shadow: 0px 0px 14px 0px rgba(214, 214, 214, 0.5);
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .mainMask {
    h1 {
      margin-top: 25%;
    }
  }
}
