.mainContainer,
.aboutContainer {
  overflow: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.mainContainer {
  height: 100dvh;
  width: 100dvw;
  background-color: black;

  .vipPass {
    height: 80px;
    width: 200px;
    background-color: black;
    position: absolute;
    right: 5px;
    top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    border-radius: 1rem;

    box-shadow: inset 0px 10px 79px -70px #ffd700;

    transition: 0.2s ease-in-out;

    h1 {
      font-family: "aquatico";
      font-size: 20px;
      color: #ac733c; //fallback solid color
      @supports ((background-clip: text) or (-webkit-background-clip: text)) {
        color: transparent;
        background-image: linear-gradient(
            to right,
            transparent 0%,
            transparent 45%,
            white 50%,
            transparent 55%,
            transparent 100%
          ),
          linear-gradient(
            90deg,
            #c78c48,
            #cf9147 9.4%,
            #cf9348 9.4%,
            #b2763e 33.6%,
            #ad743c 35.7%,
            #ac723d 46.9%,
            #b0773d 51.7%,
            #b0793e 52.1%,
            #c4914c 64.6%,
            #c99750 68.5%,
            #ce9e54 73.2%,
            #f4d188
          );
        background-position: 110% 0%, 0 0;
        background-size: 200% auto, auto;
        -webkit-background-clip: text;
        background-clip: text;
        animation: shine 2s ease-in-out 2 alternate 2s;
      }

      &:before {
        content: attr(data-gold);
        color: #f0d8a9;
        position: absolute;
        z-index: -1;
        top: -0.08vw;
        left: 0px;
        text-shadow: rgba(black, 1) 0px 0.08vw 12px;
      }

      @supports ((background-clip: text) or (-webkit-background-clip: text)) {
        &:after {
          content: attr(data-gold);
          position: absolute;
          top: 0;
          left: 0;
          background-image: linear-gradient(
            to bottom,
            transparent 0%,
            transparent 48%,
            rgba(#621000, 0.5) 50%,
            transparent 75%
          );
          -webkit-background-clip: text;
          background-clip: text;
        }
      }

      transition: 0.2s ease-in-out;
    }
  }

  .vipPass:hover {
    cursor: pointer;
    box-shadow: inset 0px 10px 79px -50px #ffd700;
    h1 {
      font-size: 22px;
    }
  }
}

.videoContainer {
  height: 100vh;
  width: 100vw;
  background-color: #01002b;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  img {
    height: 270px;
    width: 270px;
    object-fit: contain;
    opacity: 0.9;
    filter: brightness(90%);
    // filter: blur(1px);
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

.clockContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 50%;
  gap: 5%;
  bottom: 10%;
}

.homeFooter {
  height: 300px;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .footerLogo {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 15px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      mix-blend-mode: difference;
    }
  }

  .footerMiddle {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footerLeft {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-family: "ananda";
      margin-bottom: 10px;
    }

    .contact {
      width: 250px;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        text-decoration: none;
        color: white;

        &:nth-child(1):hover {
          color: #c20034;
        }

        &:nth-child(2):hover {
          color: #3b5998;
        }

        &:nth-child(3):hover {
          color: #1d7e00;
        }

        &:active {
          color: #fff;
        }
      }

      i {
        font-size: 50px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    p {
      font-family: "aquatico";
      font-size: 10px;
      position: relative;
      bottom: -50px;
    }
  }

  .footerRight {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      border: none;
      border-radius: 1rem;
      opacity: 0.5;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .videoContainer {
    video {
      height: auto;
      width: 100%;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .mainContainer {
    background-color: #01002b;
    // background-color: white;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
  }

  .videoContainer {
    height: 100dvh;
    width: 100dvw;
    background-color: #01002b;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    video {
      height: auto;
      width: 125%;
    }

    img {
      height: 150px;
      width: 150px;
      object-fit: contain;
      opacity: 0.9;
      filter: brightness(90%);
      // filter: blur(1px);
      position: absolute;
      bottom: 0px;
      margin-left: 30dvw;
    }

    .clockContainer {
      position: absolute;
      bottom: 200px;
      height: 40%;
    }
  }

  .homeFooter {
    display: flex;
    flex-direction: column;
    height: 750px;

    h1 {
      font-size: 35px;
      margin-bottom: 20px;
    }

    .footerLeft {
      width: 100%;
      border-bottom: 1px dashed white;
    }
  }
}
